<!-- AJAX message
-->
<% modal ||= false %>
<% remote =  modal ? true : false %>
<div id="message-form"></div>
<%= simple_form_for(@message, validate: true, remote: true, wrapper: :vertical_form, html: {role: :form, data: {model: 'message'}}, :url => @message.new_record? ? url_for(action: 'create', controller: 'messages') : url_for(action: 'update', controller: 'messages')) do |f| %>
      <%= f.input :title, class: "form-control" %>
      <%= f.input :content, class: "form-control" %>
  <div class="form-actions col-md-6 pull-right">
    <button class="btn btn-close" type='button' data-dismiss='modal'>Close</button>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
