= will_paginate @messages, :previous_label => '', :next_label => '', renderer: BootstrapPagination::Rails
%h1.text-center.index-msg  Puget Sound Salmon
.row
  #message-list.col-xs-12.col-md-6.col-md-offset-3
    - @messages.each do |msg|
      =render partial: 'message', locals: {msg: msg}
