.row.index-msg
  %h1.text-center  Puget Sound Salmon
.row
  #message-list.col-xs-12.col-md-6.col-md-offset-3
    - @messages.each do |msg|
      - cache msg do
        =render partial: 'message', locals: {msg: msg}
.row
  .col-md-6.col-md-offset-2.col-xs-12.text-right
    = will_paginate @messages, :outer_window => 0, :inner_window => 0,  :previous_label => '<span class="glyphicon glyphicon-triangle-left"></span>', :next_label => '<span class="glyphicon glyphicon-triangle-right"></span>',  renderer: BootstrapPagination::Rails
