%h1.text-center  Message Board for Puget Sound Salmon
.row
  .col-md-8
    - @messages.each do |msg|
      %h2= link_to msg.title, message_path(msg.id)
      %p 
        Author: #{msg.user.first_name} #{msg.user.last_name}, Published #{time_ago_in_words(msg.created_at)} ago
