/ AJAX message
= bootstrap_form_for([@message, @message.comments.build], remote: true) do |f|
  .form-inputs
    .form-group.col-md-10.col-md-offset-1
      = f.text_area :comment, label: 'Your Thoughts:'
    %span.help-block
  .form-actions.col-md-6.pull-right
    %button.btn.btn-close( type='button' data-dismiss='modal'   ) Close
    = f.button :submit, class: "btn btn-primary"

