#body {
  margin-top: 70px;
}
.msg-board-header {
  margin-bottom: 2em;
}
.cancel-edit {
  margin-top: 1em;
  a {
    padding-left: 40px;
  } 
}
.msg, #comments {
  margin: 2em;
  background-color: #d7e6f4;
  border-radius: 14px;
  padding: 20px;
}

.jet {
  color: white;
}

.hr-msg {
  border-color: #38A0C9;
}
#message-list {
  background-color: #d7e6f4;
  border-radius: 14px;
  padding: 20px;
}
#logo {
  color: #000;
}
#menu {
  margin: 0px 30px;  
  padding: 0px 20px;
}
span.glyphicon-chevron-down {
  background-color: #337ab7  
}
.alert-success {
  margin: 50px 30px 0px;
}
