body {
  font-family: 'Raleway'
}
.msg-board-header {
  margin-bottom: 2em;
}
.cancel-edit {
  margin-top: 1em;
  a {
    padding-left: 40px;
  } 
}
.msg, #comments {
  // margin: 0em;
  background-color: #d7e6f4;
  border-radius: 14px;
  padding: 20px;
}
#comments {
  margin-left: 0px;
  margin-right: 0px;
}
.jet {
  color: white;
}

.hr-msg {
  border-color: #38A0C9;
}
#message-list {
  background-color: #d7e6f4;
  border-radius: 14px;
  padding: 20px;
}
#logo {
  color: #000;
}
#menu {
  margin: 0px 30px;  
  padding: 0px 20px;
}
.alert-success {
  margin: 50px 30px 0px;
}
.modal-header {
  border-bottom: none
}
.modal-body  {
  border-bottom: none
}
.modal-footer {
  border-top: none 
}
button.close {
  color: black
}
.btn-close {
  border: 1px solid #000;
  background-color: #fff
}
abbr[title], abbr[data-original-title] {
  border-bottom: none
}
#error_explanation {
  display:none
}
.alert-success {
  background-color: #fff;
  border-color: #fff;
  color: #3c9a5f;
}
#menu {
  margin: 0px;
}
.msg-error {
  color: #F04124;
}
.hdr-image {
  padding: 0px;
  margin-top: 25px;
  display: block;
}
.index-msg, h1 {
  margin-bottom: 1.5em;
  color: #0238d0;
  font-family: "Cinzel Decorative"
}

.img-responsive {
  margin: 1em auto;
}

.pagination {
  margin: 0px
}
@media all and (max-device-width: 720px){
    h1 {
      font-size: 24px;
      margin-top: 0px;
    }
    h2 {
      font-size: 22px;
    }
    .index-msg {
      margin: 0em 0em 1em 0em;
    }
    .hdr-image {
      margin-top: 50px;
    }
}
h1, h2 {
    font-family: 'Cinzel Decorative'
}

/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
  @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
